spring:
  datasource:
#    url: ${DB_URL:jdbc:postgresql://fyn-postgres:5432/fyn-monolithic}
    url: ${DB_URL:jdbc:postgresql://localhost:5432/fyn-monolithic}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

logging:
  level:
    root: INFO
